.hero{
    background: url(../img/FondoDeHero.jpg);
    background-size: cover;
    background-position: top;
    height: 92vh;
    color: black;
    font-size: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.h2Hero{
    color: rgb(224, 189, 137);
    margin: 2rem;
    font-size: 5rem;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
}

.pHero{
    color: rgb(224, 189, 137);
    padding: 1rem 1rem 2.5rem 1rem;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
    max-width: 100rem;
}

#buttonHero{
    color: rgb(2, 2, 2);
    font-weight: 600;
}