figure{
    display: flex;
    flex-direction: column;

    .imgMain{
        border: 1.5rem inset rgb(145, 39, 39);
        border-radius: 1rem;
        margin: auto;
        margin-bottom: 0rem;
    }

}

figcaption{
    font-size: 1.7rem;
    padding: 1rem 0rem 2rem 10rem;
    font-family: 'Nunito Sans', sans-serif;
}

.divMain{
    background-color: rgb(224, 189, 137);
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.divMain2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.h2Main{ 
    display: flex;
    font-size: 2.7rem;
    font-weight: 650;
    height: 12rem;
    padding-top: 2rem;
}

.pMain{
    padding: 1rem 0;
    font-size: 2.2rem;
}

#buttonMain{
    color: black;
}

.videoDeComoHacerPan{ 
    margin: auto;
    border: 2rem groove rgb(145, 39, 39);
    border-radius: 1rem;

    width: auto;
    height: 28.2rem;
} 



/* ---------------------------otros Main--------------------------- */

main{

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(224, 189, 137);
        height: 92vh;
    }
}

.divMainSecciones{
    background-color: rgb(224, 189, 137);
    height: 92vh;
}