figure{
    display: flex;
    flex-direction: column;

}


.divMain{
    background-color: rgb(224, 189, 137);
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

.divMain2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.h2Main{ 
    display: flex;
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
    font-weight: 650;
    height: 12rem;
    margin-bottom: 2rem;
}

.pMain{
    padding: 1rem 0;
    font-size: 2rem;
}

#buttonMain{
    color: #020202;
    font-weight: 600;
}




/* ---------------------------otros Main--------------------------- */

main{

    form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.divMainSeccionContacto{
    background: url(../img/FondoContactos.jpg);
    background-size: cover;
    background-position-y: top;
    background-position-x: center ;
    height: 92vh;
}

.divMainSecciones{
    background-color: rgb(224, 189, 137);
    height: 92vh;
}