header{
    background-color: black;
    padding: 2rem;

    section{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 155rem;
        align-items: center;

        nav{

            ul {
                display: flex;
                gap: 2rem;

                li{
                    list-style-type: none;
                    display: inline-block; 
                    font-weight: lighter;
                    transition: all 1s;

                    &:hover{
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}

.black{
    background-color: black;
}

#colorA{
    color: rgb(228, 199, 155);
}

h1{
    color: rgb(228, 199, 155);
    font-weight: 600;
    font-size: 3rem;
    font-family: 'Playfair Display', serif;
}
