@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 2rem;
  font-family: 'Nunito Sans', sans-serif;
}

header {
  background-color: black;
  padding: 2rem;
}

header section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 155rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header section nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

header section nav ul li {
  list-style-type: none;
  display: inline-block;
  font-weight: lighter;
  -webkit-transition: all 1s;
  transition: all 1s;
}

header section nav ul li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.black {
  background-color: black;
}

#colorA {
  color: #e4c79b;
}

h1 {
  color: #e4c79b;
  font-weight: 600;
  font-size: 3rem;
}

.hero {
  background: url(../img/FondoDeHero.jpg);
  background-size: cover;
  background-position: top;
  height: 92vh;
  color: black;
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.h2Hero {
  color: #e4c79b;
  padding-top: 2rem;
}

.pHero {
  color: #e4c79b;
  padding: 1rem 1rem 2.5rem 1rem;
  font-size: 2.2rem;
  font-weight: 500;
  text-align: center;
  margin: 0 auto;
  max-width: 155rem;
}

#buttonHero {
  color: #e6b874;
}

figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

figure .imgMain {
  border: 1.5rem inset #912727;
  border-radius: 1rem;
  margin: auto;
  margin-bottom: 0rem;
}

figcaption {
  font-size: 1.7rem;
  padding: 1rem 0rem 2rem 10rem;
  font-family: 'Nunito Sans', sans-serif;
}

.divMain {
  background-color: #e0bd89;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem;
}

.divMain2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.h2Main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.7rem;
  font-weight: 650;
  height: 12rem;
  padding-top: 2rem;
}

.pMain {
  padding: 1rem 0;
  font-size: 2.2rem;
}

#buttonMain {
  color: black;
}

.videoDeComoHacerPan {
  margin: auto;
  border: 2rem groove #912727;
  border-radius: 1rem;
  width: auto;
  height: 28.2rem;
}

/* ---------------------------otros Main--------------------------- */
main form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e0bd89;
  height: 92vh;
}

.divMainSecciones {
  background-color: #e0bd89;
  height: 92vh;
}

footer {
  background-color: black;
  padding: 2.5rem 2rem 2.5rem 2rem;
}

footer li {
  display: inline-block;
  -webkit-transition: all 1s;
  transition: all 1s;
}

footer li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#footer {
  color: #e4c79b;
}

/* mapas */
.btn--MainUno {
  background-color: #55aCee;
}

.btn--MainDos {
  background-color: #3a5795;
}

/* extend */
.cambiosH2, .cambiosH2--Uno, .cambiosH2--Dos {
  background-color: #ad800d;
  border: 1rem solid #0808f5;
}

.cambiosH2--Uno {
  border-radius: 0.7rem;
}

.cambiosH2--Dos {
  border: 0.5rem dashed #d81313;
}

/* mixin */
.mi_mixin {
  font-size: 3rem;
  color: white;
}

/* ---------------------------FUENTE--------------------------- */
/*________________________________MOBILE SMARTPHONE________________________________*/
@media (min-width: 600px) {
  /* ---------------------------DECLARACION DE AREA --------------------------- */
  header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: header;
  }
  section#hero {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: sectionHero;
  }
  main {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: main;
  }
  footer {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: footer;
  }
  /* ---------------------------GENERAL--------------------------- */
  #grilla {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header        " "sectionHero   " "main          " "footer        ";
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    color: #e4c79b;
    cursor: pointer;
  }
  .button {
    padding: 0.5rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: black;
    cursor: pointer;
  }
  button {
    padding: 0.2rem;
    background-color: transparent;
    border: solid black 0.3rem;
    border-radius: 0.5rem;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  button:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

/*________________________________MOBILE TABLET________________________________*/
@media (min-width: 768px) {
  #grilla {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header         header         " "sectionHero    sectionHero    " "main           main           " "footer         footer         ";
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  figcaption {
    font-size: 1.7rem;
    padding: 1rem 0rem 2rem 19rem;
    font-family: 'Nunito Sans', sans-serif;
  }
}

/*__________________________________DESKTOP__________________________________*/
@media (min-width: 1024px) {
  #grilla {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "header         header         header         header" "sectionHero    sectionHero    sectionHero    sectionHero" "main           main           main           main" "footer         footer         footer         footer";
    -ms-grid-columns: 25% 25% 25% 25%;
        grid-template-columns: 25% 25% 25% 25%;
  }
  header section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    max-width: 155rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5rem;
  }
  .divMain {
    background-color: #e0bd89;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 3rem;
  }
  .imgMain {
    border: 1.5rem inset #912727;
    border-radius: 1rem;
    margin: 2rem;
    margin-bottom: 0rem;
  }
  figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  figcaption {
    font-size: 1.7rem;
    padding-left: 6rem;
    font-family: 'Nunito Sans', sans-serif;
  }
  .videoDeComoHacerPan {
    margin: 2rem;
    border: 2rem groove #912727;
    border-radius: 1rem;
  }
  .h2Main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2.7rem;
    font-weight: 650;
    height: 12rem;
    padding-top: 0;
  }
}
/*# sourceMappingURL=style.css.map */